@{
    ViewBag.Title = "Home Page";
}

<div class="container inner-body">
    <div class="col-md-4 sidebar">
        <div class="spacing">
            QuickiGo
        </div>
        <hr />
        <div class="form-group">
            <label>Firstname:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Firstname" />
        </div>

        <div class="form-group">
            <label>Lastname:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Lastname" />
        </div>

        <div class="form-group">
            <label>Matric Number:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Matric number" />
        </div>
        <div class="form-group">
            <label>Your Address:</label>
            <br />
            <textarea class="form-control input-sm" type="text" placeholder="Your Address" rows="5"></textarea>
        </div>

        <div class="form-group">
            <label>Parent Phone number:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Parent Phone number" />
        </div>

        <div class="form-group">
            <label>Sender Address:</label>
            <br />
            <textarea class="form-control input-sm" type="text" placeholder="Sender Address" rows="5"></textarea>
        </div>

        <input class="btn btn-sm btn-success pull-right" type="button" value="Generate"/>
    </div>

    <div class="col-md-8">
        <div class="row">
            <p>
                lorem ipsum dolor
            </p>
        </div>
    </div>
</div>