@{
    ViewBag.Title = "Home Page";
}

<div class="inner-body">
    <div class="col-md-3 sidebar">
        <div class="spacing">
            QuickiGo
        </div>
        <hr />
        <div class="form-group">
            <label>Firstname:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Firstname" />
        </div>

        <div class="form-group">
            <label>Lastname:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Lastname" />
        </div>

        <div class="form-group">
            <label>Purpose of letter:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Purpose of letter" />
        </div>
        
        <div class="form-group">
            <label>Parent Phone number:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Parent Phone number" />
        </div>

        <div class="form-group">
            <label>Your Address:</label>
            <br />
            <textarea class="form-control input-sm" type="text" placeholder="Your Address" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Parent Phone number:</label>
            <br />
            <input class="form-control input-sm" type="text" placeholder="Parent Phone number" />
        </div>

        <div class="form-group">
            <label>Sender Address:</label>
            <br />
            <textarea class="form-control input-sm" type="text" placeholder="Sender Address" rows="3"></textarea>
        </div>

        <input class="btn btn-lg btn-success pull-right" type="button" value="Print"/>
        <br/>
        <br />
    </div>

    <div class="col-md-9 letter-content">
        <div class="row">
            <p class="pull-right">
                lorem ipsum dolor
            </p>
        </div>
    </div>
</div>