* {
    padding: 0px;
    margin: 0px;
}

body {
    padding:0px;
    margin:0px;
}

.inner-body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.sidebar {
    background-color: crimson;
    color:white;
    padding:30px;
    max-height:100%;
}

.letter-content {
    padding: 20px 80px;
    font-family: 'Century Gothic';
    font-size: 14px;
}

.letter-heading {
    
}

.hr-rule {
    color:white;
}
div.spacing {
    padding: 20px;
    font-family:'Century Gothic';
}
div.spacing  a {
    font-size: x-large;
    color: white;
}